* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 4rem;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 128px;
    margin: 0px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    padding-right: 128px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Content 1 */

.content-1 {
    display: flex;
    align-items: flex-start;
    background-color: #1f2937;
    padding-bottom: 6rem;
}

.content-1-left {
    display: flex;
    flex-direction: column;
    padding-left: 128px;
    align-self: center;
}

.content-1-heading, .content-1-body, .content-1-button {
    margin: 0px;
    max-width: calc(50vw - 150px);
}

.content-1-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content-1-body {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.content-1-button {
    background-color: #3882f6;
    max-width: 128px;
    color: #e5e7eb;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
}

.rectangle {
    text-align: center;
    vertical-align: middle;
    width: calc(50vw - 128px);
    height: 200px;
    background-color: #3498db;
    margin-left: 22px;
    padding-right: 128px;
}

/* Content 2 */

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 50px;
}

.content-2-heading {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-2-box {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border-color: #3498db;
    border-style: solid;
    /* background-color: black; */
}

.content-2-box-text {
    text-align: center;
}

.content-2-bottom {
    display: flex;
    flex-direction: row;
}

/* Content 3 */

.content-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #e5e7eb;
    /* padding-bottom: 25px; */
}

.quote {
    display: flex;
    align-self: flex-start;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-top: 75px;
}

.quote-credit {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}

/* Content 4 */

.content-4 {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 2rem;
    background-color: #3882f6;
    margin-left: 256px;
    margin-right: 256px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-4-main-text {
    color: white;
    font-weight: bold;
}

.content-4-sub-text {
    color: white;
}

.content-4-button {
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    color: white;
    width: 6rem;
    height: 2rem;
}

/* Footer */

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: white;
    align-items: center;
    flex: 1;
    height: 100%;
}